<%- include('../parts/head')%>
<%- include('../parts/navbar')%>

<% 
  let oldPassword= null, newPassword= null, confirmNewPassword= null, notValid = 'not-valid';
  if(validationErrs && validationErrs.length){
    oldPassword = validationErrs.find(err => err.param == 'oldPassword');
    newPassword = validationErrs.find(err => err.param == 'newPassword');
    confirmNewPassword = validationErrs.find(err => err.param == 'confirmNewPassword');
  }
%>

<div class="login-container">

   <form method="post" action="/changePassword" class="form-login">
     <ul class="login-nav">
       <li class="login-nav__item">
         <h1>تغيير كلمه السر</h1>
       </li>
     </ul>
     <label class="login__label" for="oldPass">كلمه السر القديمه</label>
     <input
       class="login__input   <% if(oldPassword){ %> <%= notValid %> <% } %> "
       type="password"
       name="oldPassword"
       id="oldPass"
       placeholder="ادخل كلمه السر القديمه"
     />
     <% if(oldPassword){ %>
      <div class="invalid-feedback d-flex">
        <%= oldPassword.msg %>
      </div> 
     <% } %>
 
     <label class="login__label" for="newPass">كلمة السر الجديده</label>
     <input
       type="password"
       name="newPassword"
       class="login__input  <% if(newPassword){ %> <%= notValid %> <% } %> "
       id="newPass"
       placeholder=" كلمه السر الجديده"
     />
    <% if(newPassword){ %>
      <div class="invalid-feedback d-flex">
        <%= newPassword.msg %>
      </div> 
     <% } %>

 
     <label class="login__label" for="confirmNewPass" > تأكيد كلمه السر الجديده </label>
     <input
       type="password"
       name="confirmNewPassword"
       class="login__input   <% if(confirmNewPassword){ %> <%= notValid %> <% } %> "
       id="confirmNewPass"
       placeholder=" تأكيد كلمه السر الجديده"
     />
    <% if(confirmNewPassword){ %>
      <div class="invalid-feedback d-flex">
        <%= confirmNewPassword.msg %>
      </div> 
     <% } %>

     <button type="submit" class="btn btn-primary">تأكيد</button>
   </form>
 </div>



<%- include('../parts/footer')%>
